aulas
b
.Rproj.user

projeto/crimes_baltimore/ignore/*

projeto/crimes_baltimore/files/data/*

.ipynb_checkpoints/*

projeto/crimes_baltimore/.ipynb_checkpoints/*

projeto/crimes_baltimore/index.html
